<!DOCTYPE html>
<html>
<head>
  <title>WhoIsInTheOffice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br>
<%= request.env %>

</body>
</html>
